%h1.text-center.mb-4 Listing People

%div.table-responsive
  %table.table.table-striped.table-hover.table-bordered
    %thead.table-dark
      %tr
        %th Name
        %th Last Name
        %th Actions

    %tbody
      - @people.each do |person|
        %tr
          %td= person.name
          %td= person.last_name
          %td
            = link_to 'Show', person_path(person), class: "btn btn-sm btn-outline-primary me-2"
            = link_to 'Edit', edit_person_path(person), class: "btn btn-sm btn-outline-secondary me-2"
            = link_to 'Destroy', person, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger"

%div.mt-4
  = link_to 'New Person', new_person_path, class: "btn btn-success"

