%h1.text-center.mb-4= t('views.people.index.title')

%div.table-responsive
  %table.table.table-striped.table-hover.table-bordered
    %thead.table-dark
      %tr
        %th= Person.human_attribute_name(:name)
        %th= Person.human_attribute_name(:last_name)
        %th= t('views.people.index.actions')

    %tbody
      - @people.each do |person|
        %tr
          %td= person.name
          %td= person.last_name
          %td
            = link_to t('views.people.index.show'), person_path(person), class: "btn btn-sm btn-outline-primary me-2"
            = link_to t('views.people.index.edit'), edit_person_path(person), class: "btn btn-sm btn-outline-secondary me-2"
            = link_to t('views.people.index.destroy'), person, method: :delete, data: { turbo_confirm: t('views.people.index.confirm_delete') }, class: "btn btn-sm btn-outline-danger"

%div.mt-4
  = link_to t('views.people.index.new'), new_person_path, class: "btn btn-success"
