%h1.text-center.mb-4= action_name == 'new' ? 'New Person' : 'Editing Person'

.container
  = form_for @person, html: { class: "needs-validation", novalidate: true } do |f|
    - if @person.errors.any?
      #error_explanation.alert.alert-danger
        %h4= "#{pluralize(@person.errors.count, 'error')} prohibited this person from being saved:"
        %ul
          - @person.errors.full_messages.each do |message|
            %li= message

    .mb-3
      = f.label :name, class: "form-label"
      = f.text_field :name, class: "form-control", required: true

    .mb-3
      = f.label :last_name, class: "form-label"
      = f.text_field :last_name, class: "form-control", required: true

    .actions.mt-3
      = f.submit 'Save', class: "btn btn-primary"

  = link_to 'Back', people_path, class: "btn btn-secondary mt-3"

