%p#notice.text-success= notice if notice

%h1.text-center.mb-4= t('views.people.show.title')

.container
  %p
    %strong= "#{Person.human_attribute_name(:last_name)}:"
    = @person.last_name
  %p  
    %strong= "#{Person.human_attribute_name(:name)}:"
    = @person.name 

  .mt-3
    = link_to t('views.people.index.edit'), edit_person_path(@person), class: "btn btn-outline-primary me-2"
    = link_to t('views.people.form.back'), people_path, class: "btn btn-outline-secondary me-2"
    = link_to t('views.people.index.destroy'), person_path(@person), method: :delete, data: { confirm: t('views.people.index.confirm_delete') }, class: "btn btn-outline-danger"
